{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2" style="background: #067878; ">
            <div class="container-fluid add-site align-middle">
                Add-site
            </div>
        </div>
        <div class="col-md-3" style="background: #b6e5e1">
            {% for piece in news %}

                <div class="container-sm container-fluid news-feed align-middle flex-sm">
                    <h3> {{ piece.title }}</h3> <br>
                    <img src="{{ piece.photo }}" alt="{{ piece.title }}">
                    <em>{{ piece.content }} </em>
                    <br>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <br><br>
                </div>
            {% endfor %}
        </div>


        {#        <div class="container-sm container-fluid news-feed align-middle flex-sm h-100">#}
        {#            {% for piece in news %}#}
        {#                <div class="card" style="width: 18rem;">#}
        {#                    <img class="card-img-top" src="{{ piece.photo }}" alt="{{ piece.title }}">#}
        {#                    <div class="card-body">#}
        {#                        <h5 class="card-title">!!!!!!!!!!!!!!!!!!!!!!!!{{ piece.title }}</h5>#}
        {#                        <p class="card-text"> {{ piece.content }} </p>#}
        {#                        <a href="#" class="btn btn-primary">Go somewhere</a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}


    </div>
{% endblock %}